.container {
  max-width: 1120px;
  margin: 1rem auto 0;

  table {
    width: 100%;
    border-spacing: 0 0.5rem;

    th, td {
      padding: 1rem 2rem;
      color: var(--text-body);
      text-align: left;
      line-height: 1.5rem;
      font-weight: 400;
    }
    
    td {
      border-radius: 0.25rem;
      background: var(--shape);

      &:first-child {
        color: var(--text-title);
      }

      &.income {
        color: var(--green);
      }

      &.outcome {
        color: var(--red);
      }
    }
  }
}